# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Flask instance folder
instance/

# Logs
*.log

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
